@model Project_63131717.Models.DocGia

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin_63131717/Views/Shared/PageAdmin.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    body {
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .details-container {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 800px;
        max-width: 100%;
        text-align: center;
    }

    h2 {
        color: #007bff;
    }

    dl {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    dt, dd {
        flex: 0 0 48%;
        margin-bottom: 10px;
    }

    .btn-back {
        background-color: #007bff;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        margin-left: 15px;
    }

        .btn-back:hover {
            background-color: #0056b3;
        }
    dd {
        text-align: start
    }

    dl {
        margin-left: 25%;
        text-align: start
    }


    
</style>

<div class="details-container">
    <h2 style="margin-bottom:30px">Thông tin độc giả</h2>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenDG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>


        <div class="form-actions no-color d-flex justify-content-center align-items-center">
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-back" })
        </div>
</div>
