@model PagedList.IPagedList<Project_63131717.Models.DocGia>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin_63131717/Views/Shared/PageAdmin.cshtml";
    var i = 0;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="~/Content/PagedList.css"/>
<style>
   
    a {
        text-decoration: none;
        color: black
    }
</style>
<div class="pb-4 d-flex align-items-center">
    <h2 style="font-family:Arial, Helvetica, sans-serif;font-weight:600;color:#413939;margin:0;">ĐỘC GIẢ</h2>
    <a style="margin-left:30px;padding:5px 10px;border:2px solid blue;border-radius:10px" href="~/Admin_63131717/QLDocGia_63131717/Create"><i class="fa-solid fa-plus"></i></a>
</div>

<table class="table table-striped-columns">
    <tr style="background:#f8eeee">
        <th>
            STT
        </th>
        <th>
            Tên độc giả
        </th>
        <th>
            Điện thoại
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Tài khoản
        </th>
        <th>
            Mật khẩu
        </th>
        <th class="text-center">
            Chức năng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    i = i + 1;
                }
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td class="text-center">
                <a href="@Url.Action("Edit",new { id = item.IDDG})" class="edit-btn"><abbr title="Cập nhật dữ liệu"><img src="~/Areas/Admin_63131717/Content/Images/edit.png" width="20" height="20" /></abbr></a>
                <a href="@Url.Action("Details",new { id = item.IDDG})" class="edit-btn"><abbr title="Chi tiết dữ liệu"><img src="~/Areas/Admin_63131717/Content/Images/details.png" width="20" height="20" /></abbr></a>
                <a href="@Url.Action("Delete",new { id = item.IDDG})" class="edit-btn"><abbr title="Xóa dữ liệu"><img src="~/Areas/Admin_63131717/Content/Images/delete.png" width="20" height="20" /></abbr></a>
            </td>
        </tr>
    }

</table>
<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>